* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
  }
  body {
    text-align: center;
    margin: 0;
    color: white;
    min-height: 200vh;
    overflow-x: hidden;
  }
  .box {
    border: 6px solid white;
    transition: 0.25s ease;
    background: black;
    padding: 10px;
  }
  p{
      visibility: hidden;
      width: 240px;
      margin: 10px auto 0;
      
  }
  .question-click {
      background: rgb(47, 47, 47);
      border: 6px dashed pink;
  }
  .mousemove{
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -1;
  }